SUPABASE_URL=https://bizutoarmeazkwuqzzap.supabase.co
SUPABASE_ANON_KEY=cole_a_anon_public_key_aqui
SUPABASE_SERVICE_ROLE_KEY=cole_a_service_role_key_aqui
SUPABASE_BUCKET=documents

ADMIN_EMAIL=admin@repo.com
SESSION_SECRET=gere-um-segredo-grande-com-openssl-rand-base64-32

NEXT_PUBLIC_APP_URL=https://seu-app.vercel.app
MAX_UPLOAD_MB=50
